$desktop-width: 1083px;
$tablap-l-width: 914px;
$tablap-p-width: 746px;
$mobile-width: 533px;

$desktop-breakpoint: 988px;
$tablap-l-breakpoint: 820px;
$tablap-p-breakpoint: 652px;
$mobile-l-breakpoint: 316px;
$mobile-p-breakpoint: 232px;

@mixin cus-container  {

    @include container($desktop-breakpoint);

    @media only screen and (max-width:$desktop-width - 1) and (min-width:$tablap-l-width) {
        @include container($tablap-l-breakpoint);
    }

    @media only screen and (max-width:$tablap-l-width - 1) and (min-width:$tablap-p-width) {
        @include container($tablap-p-breakpoint);
    }

    @media only screen and (max-width:$tablap-p-width - 1) and (min-width:$mobile-width + 1) {
        @include container($mobile-l-breakpoint);
    }

    @media only screen and (max-width:$mobile-width) {
        @include container($mobile-p-breakpoint);
    }
}

@mixin l-4-4-4 ($cus-gutter : 20px){
    @include cus-container;
    
    > div {
      
        @include span(4);

       

        &.last {
            
             @include span(4  last);
        }

        @media only screen and (max-width:$desktop-width - 1) and (min-width:$tablap-l-width) {
            @include span(260px);


            &.last {
                @include span(260px last);
            }
        }

        @media only screen and (max-width:$tablap-l-width - 1) and (min-width:$tablap-p-width) {
            @include span(204px);



            &.last {
                @include span(204px last);
            }
        }

        @media only screen and (max-width:$tablap-p-width - 1) and (min-width:$mobile-width + 1) {
            @include span(12 of 12);

            &.last {
                @include span(12 of 12);
            }

            margin-bottom: 20px;
        }

        @media only screen and (max-width:$mobile-width) {
            @include span(12 of 12);

            &.last {
                @include span(12 of 12);
            }
        }
    }
}
